body { /*font-family: Consolas, "Liberation Mono", Courier, monospace;*/ padding-top: 20px; padding-bottom: 40px; background-color: #fff; color: #444; line-height: 1.7; }
h1, h2, h3 { color: #333; }
h1	{ font-size: 32px; }
.container-narrow { margin: 0 auto; max-width: 700px; }
.container-narrow hr { margin: 40px 0; border-bottom:none; }
.masthead { overflow: auto; }
.masthead img { float: left; height: 50px; margin-right: 10px; }
.masthead h1 { float: left; margin-top: 5px; font-size: 28px; }
.masthead .nav { margin: 0; float: right; }
.masthead .nav li { margin: 7px 0 0 0; }
.nav a { color: #333; }
#u { text-transform: capitalize; }
.charts { margin: 50px 0; }
.charts .pie { height: 150px; }
#languages .title { position:absolute; top:42%; left: 27%; }
#frameworks .title { position:absolute; top:42%; left: 21%; }
.legend table { background-color: #fff; }
.tools { font-size: 90%; color: #888; }


@media (max-width: 480px) {

	.container-narrow > hr { margin: 15px 0; }

	.masthead .nav { clear: both; float: none; }
	.masthead .nav li { float: none; margin: 20px 0 0 0; }
	.masthead .nav li a { background-color: #ddd; text-align: center; border: #bbb solid 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
	.masthead .nav li a:hover { background-color: #f8f8f8; }

}